
.items-list-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.item-list {
   width: 30%;
   margin: 2% 0%
}

.item-list:hover .item-list-info {
   color: #42b6d3
}

.item-list-img-wrapper {
   overflow: hidden;
   height: 60%;
}

.item-list-img {
   width: 100%;
   transform: scale(1.4);
}

.item-list-img:hover{
   transition: transform 1s, filter 2s ease-in-out;
   transform: scale(1);
}

.item-list-info {
   margin: 5% 0%
}

