/* GENERAL STYLES*/
a {
  text-decoration: none;
  color: black;
}

p {
  text-align: justify;
}

.content-center {
  display: flex;
  justify-content: center;
}

.m-0 {
  margin: 0
}

.italic {
  font-style: italic;
}

.gray {
  color: gray
}

.font-sm {
  font-size: 14px;
}

