/* GENERAL */
.content-center {
  display: flex;
  justify-content: center;
}

.m-0 {
  margin: 0
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  background: lightgray;
  padding: 0.5rem 4rem;
}

.header-logo {
  width: 1.5rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

/* HOME VIEW */
.home-title-wrapper {
  padding: 5%;
}

.home-title {
  font-size: 2.5rem;
}

.home-subtitle {
  color: gray;
  font-size: 2rem;
}

.home-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-list {
  width: 30%;
}

.item-list-img {
  width: 100%;
}
